{% extends 'users/base.html' %}
{% block content %}
    <div class="content">
        {% for movie in moviesdata %}
            <div class="item-wrap">
                <div class="custom-card" onclick="location.href='{% url 'movie' movie.id%}'">
                    <div class="card-left">
                        <img src="{{ movie.poster }}">
                    </div>
                    <div class="card-right">
                        <h1>{{ movie.name }}</h1>
                        <div class="card-right-details">
                            <ul>
                                <li>{{ movie.releasedate }}</li>
                                <li>{{ movie.genre }}</li>
                                <li>{{ movie.rating }}/10</li>
                                <li>{{ movie.description }}</li>
                            </ul>
                            <div class="card-description">
                                <p>
                                    awlgkawlgwlkwen ewkn flwqekn fqwlk nqwlk nqwlkd nqwldkn qwlknd qwlknd qwldnqwllfn qlwkrn qwlkenqwlk enqwlke nq
                                </p>
                            </div>
                        </div>
                        <button>
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-play-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path d="M11.596 8.697l-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
</svg>
                            Watch Now</button>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>


{% endblock %}
